<!DOCTYPE >
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>

  <body>
    <div id="app">
      <label>
        <input type="checkbox" v-model="isPurpleSelected" />Purple
      </label>
      <select v-model="textColor">
        <option value="">White</option>
        <option value="text-black">Black</option>
        <option value="text-orange">Orange</option>
      </select>
      <input type="number" v-model.number="size" />
      <div
        class="circle"
        :class="[textColor,circle_class]"
        :style="[
          {width: size+'px',height: size+'px',lineHeight: size+'px'},
          {transform:'rotate(30deg)'}]"
      >
        静默
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
